# Python Bytecode
__pycache__/
*.pyc

# Virtual Environments (if you created one)
env/
venv/
.venv/

# Jupyter Notebook Checkpoints (Crucial for notebooks!)
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE Settings (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Operating System Metadata
.DS_Store
Thumbs.db

# Optional: Ignore large datasets if you don't want them on GitHub
# *.csv